/* A PROPOS */
#aboutme {
  padding-top: 30px;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  overflow: hidden;
}

#aboutme h2{
  text-align: center;
}

#aboutme h3{
  text-align: center;
}
.contenaire2{
  display: flex;
}

.admin_reseau{
  margin-right: 7%;
}

/* END A PROPOS */


.animationparagraphe1 {
    animation-name: paragraphe1;
    animation-duration: 1.5s;
    position: relative;
}


@keyframes paragraphe1 {
    0%{left: -1000px;}
    100%{left: 0px;}
}

.animationparagraphe2 {
    animation-name: paragraphe2;
    animation-duration: 1.5s;
    position: relative;
}


@keyframes paragraphe2 {
    0%{bottom: -1000px;}
    100%{bottom: 0px;}
}
