#myskills {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 8%;
  overflow: hidden;
}

.skills {
  width: 43%;
  float: left;
}

.progress {
  width: 43%;
  float: left;
}

.skills h2 {
  margin: 25px 0 20px 40px;
  color: #555;
}

.skills > p {
  margin: 0 0 10px 40px;
  line-height: 1.6;
  color: #666;
}

.skills > p:last-of-type {
  margin-top: 25px;
}
.skills button {
  margin-top: 20px;
  margin-left: 40px;
}

.progress .tech {
  margin-left: 50px;
}

.progress .tech h3 {
  color: #555;
}

.progress .tech div {
  background-color: #f3f3f3;
  height: 25px;
}

.progress .tech div span {
  background-color: #318CE7;
  height: 100%;
  display: block;
  line-height: 25px;
  text-align: right;
  color: #fff;
  font-weight: bold;
}


/* END COMPETENCE */

/* Pour les tablettes et les téléphones */
@media only screen and (max-width: 768px) {
  #myskills {
    padding-left: 5%;
  }
}

/* Pour les téléphones uniquement */
@media only screen and (max-width: 480px) {
  #myskills {
    padding-left: 3%;
  }
}