

/* CONTACT */
#contactme {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
  padding-left: 1%;
}

#contactme .info {
  width: 42%;
  float: left;
  margin-right: 5%;
}

#contactme h2,
#contactme p {
  color: #fff;
  margin-left: 20px;
  line-height: 1.7;
}

#contactme p strong {
  color: #d1d6da;
}

#contactme .form {
  width: 53%;
  float: left;
}

#contactme .form label {
  display: block;
  color: #d1d6da;
  margin: 10px 0;
}

#contactme .form input[type="text"],
#contactme .form textarea {
  background-color: #4b5557;
  color: #fff;
  padding: 10px;
  border: 0;
  width: 80%;
  margin-bottom: 10px;
}

#contactme .form input[type="submit"] {
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 10px;
}
/* END CONTACT */

/* BOUTON */
.mybutton {
  background: none;
  border: 3px solid #318CE7;
  padding: 10px 30px;
  color: #318CE7;
  font-weight: bold;
  
}


/* END BOUTON */
.animationbouttonContact{
  animation-name: bouttonContact;
  animation-duration: 1.5s;
  position: relative;
}


@keyframes bouttonContact {
  0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
