/* HEADER */
.header .slider {
  background-image: url(../Image/informatique-systeme-reseau.png);
  background-size: cover;
  background-color: #eee;
  height: 600px;
  position: relative; /* Ajout de position: relative */
}

.header .slider img {
  position: absolute; /* Ajout de position: absolute */
  top: 0; /* Pour placer l'image tout en haut */
}

.header .slider .intro {
  padding-top: 200px;
  height: 600px;
  text-align: center;
  color: #fff;
  
}

.header .slider .intro h2 {
  margin: 0 auto;
  font-size: 50px;
  width: 33%;
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  padding: 5px 0;
}

.header .slider .intro button {
  background: none;
  margin-top: 30px;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px 20px;
}

.header .slider .intro button a {
  text-decoration: none;
  color: #fff;
}

.header .navbar {
  background: rgb(0,0,0);
  background: linear-gradient(142deg, rgba(0,0,0,1) 39%, #318CE7 100%, rgba(255,255,255,1) 100%);
  color: #fff;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Assure que la barre de navigation reste au-dessus du contenu */
}

.header .navbar .container{
  padding-left: 10%;
  width: 82%;
}

.header .navbar h2 {
  float: left;
  text-transform: uppercase;
}

.header .navbar h2 span {
  color: #318CE7;
}

/* Ajoutez ces styles pour masquer le menu par défaut et afficher le menu burger */
.header .navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}


.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li.active a {
  color: #318CE7;
}

.header .navbar ul li a:hover {
  color: #318CE7;
}

/* END HEADER */


