@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Source+Sans+Pro');
 *, *::before, *::after {
	 box-sizing: border-box;
}

 .mouse {
	 max-width: 2.5rem;
	 width: 100%;
	 height: auto;
	 margin-top: 30px;
	 padding-bottom: 0px;
}
 .scroll {
	 animation-name: scroll;
	 animation-duration: 1.5s;
	 animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
	 animation-iteration-count: infinite;
	 transform-origin: 50% 20.5px;
	 will-change: transform, opacity;
	 opacity: 1;
}
 .scroll-link {
	 position: absolute;
	 bottom: 1rem;
	 left: 50%;
	 transform: translateX(-50%);
}
 @keyframes scroll {
	 0%, 20% {
		 transform: translateY(0) scaleY(1);
	}
	 100% {
		 transform: translateY(36px) scaleY(2);
		 opacity: 0;
	}
}

@media only screen and (max-width: 1024px) {
	.mouse{
		max-width: 1.5rem;
	  }
  }


@media only screen and (max-width: 768px) {
	.mouse{
		display: none;
	  }
  }
  
  /* Pour les téléphones uniquement */
  @media only screen and (max-width: 480px) {
	.mouse{
		display: none;
	}
  }