/* PASSION */
#passion {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  
}

#passion .feat {
  display: inline-block; /* Afficher les éléments de la section en ligne */
  vertical-align: top; /* Aligner les éléments en haut */
  margin: 0 auto; /* Centre les éléments horizontalement */
  width: 26%; /* Largeur des éléments */
  padding-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
}

#passion .feat p {
  line-height: 1.7;
  color: #888;
  padding-bottom: 30px;
}

#passion a {
  outline: none;
  color: #888;
}

.feat {
position: relative;
padding-top: 20px; /* Ajustez l'espace au-dessus de chaque élément .feat */
padding-left: 3%;
padding-right: 3%;
}


/* CSS pour les titres h2 */
#passion h2 {
text-transform: uppercase;
color: #555;
position: relative; /* Définissez la position sur relative pour empiler la barre horizontale sur le titre h2 */
z-index: 1; /* Assurez-vous que le titre est au-dessus de la barre horizontale */
margin-bottom: 10px; /* Ajustez l'espace en bas du titre h2 */
}



#passion .feat h2 {
  position: relative;
  display: inline-block;
  color: #000000;
  cursor: pointer;
}

#passion .feat h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 10px;
  background-color: #318ce7; /* Couleur du rectangle bleu */
  transition: width 0.3s ease; /* Animation de l'extension */
}

#passion .feat h2:hover::after {
  width: 100%; /* Étendre le rectangle bleu au survol */
}
/* END PASSION */

/* Pour les tablettes et les téléphones */
@media only screen and (max-width: 768px) {
  #passion {
    padding-left: 5%;
  }
}

/* Pour les téléphones uniquement */
@media only screen and (max-width: 480px) {
  #passion {
    padding-left: 3%;
  }

  #passion h2 {
		font-size: 80%;
	  }

  #passion p {
		font-size: 70%;
	  }
}