#projet {
background-color: #f2f2f2;
padding-top: 30px;
padding-bottom: 3%;
padding-left: 8%;
}

#projet .contenue{
  display: flex;
  justify-content: center;
  align-items: center;
}

#projet .grid img {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

#projet .grid{
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 10%;
}





/* animations*/


