@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url(a_propos.css);
@import url(competences.css);
@import url(contact.css);
@import url(education.css);
@import url(experience.css);
@import url(header.css);
@import url(passion.css);
@import url(projet.css);
@import url(mouse.scss);
@import url(darkmode.css);
@import url(boutondarkmode.css);


/* Réinitialisation */
html {
  scroll-behavior: smooth;
  font-family: Titillium Web;
}

body {
  font-family: Titillium Web;
  height: 100%;
  margin: 0;
}

.clearfix {
  clear: both;
}


.dark-mode-theme {
  background-color:#000;
  color: #fff;
}

.dark-mode-image {
  filter: grayscale(1);
}

.dark-mode-image:hover {
  filter: grayscale(0);
}


/*-----------------------------------------------------------------------*/






