/* EXPERIENCE PRO */
#experience {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 8%;
  overflow: hidden;
  background-color: #fff; /* Couleur de fond similaire aux autres sections */
}

#experience .entreprise {
  display: flex;
  justify-content: space-between;
}


#experience .entreprise .certificate p {
  width: 75%;

}

.animationentreprise1 {
  animation-name: entreprise1;
  animation-duration: 1.5s;
  position: relative;
}


@keyframes entreprise1 {
  0%{left: -1000px;}
  100%{left: 0px;}
}

.animationentreprise2 {
  animation-name: entreprise2;
  animation-duration: 1.5s;
  position: relative;
}


@keyframes entreprise2 {
  0%{bottom: -1000px;}
  100%{bottom: 0px;}
}

.animationentreprise3 {
  animation-name: entreprise3;
  animation-duration: 1.5s;
  position: relative;
}


@keyframes entreprise3 {
  0%{left: 1000px;}
  100%{left: 0px;}
}